.navbar{
    margin-bottom: 3px;
}
#third{
    margin-left: -100px;
    }
#second{
    margin-left: -50px;
}
#hash{
    margin-bottom:3px;
    
}
.try{
   position: absolute; 
}
h5 { 
    position: absolute; 
    top: 300px; 
    left: 1; 
    width: 100%; 
    color:white;
 }
 h2{
     color:red;
     margin-bottom: 10px;
 }
 .post-slide{
    background: #fff;
    padding-bottom: 20px;
    margin: 0 15px;

    .post-img{
        position:relative;
    }
    .over-layer{
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity:0;
        cursor: pointer;
        transition: all 0.30s ease 0s;
    }
    :hover .over-layer{
        opacity:1;
    }
    .over-layer:after{
        content: "+";
        font-size: 52px;
        color: #fff;
        position: absolute;
        top: 31%;
        left:42%;
    }
    .post-img img{
        width: 100%;
        height: auto;
    }
    .post-title{
        margin:25px 0 15px 0;
    }
    .post-title:before{
        content:"";
        border:2px solid #e67e22;
        width:18%;
        display: block;
        margin-bottom:15px;
    }
    .post-title a{
        font-size: 20px;
        font-weight:bold;
        color:#333;
        display: inline-block;
        text-transform:capitalize;
        transition: all 0.3s ease 0s;
    }
    .post-title a:hover{
        text-decoration: none;
        color:#e67e22;
    }
    .post-date{
        text-transform:capitalize;
    }
    .post-date:before{
        content: "\f073";
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        margin-right: 7px;
        color:#e67e22;
    }
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #e67e22;
}
.fat{
    ol{
        text-decoration: none;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        
    }
}
.navbar{
    a{
        color:white;
    }
}
.stories{
    border-top: 7px solid red ;

}
.feature{
    border-top: 7px solid red ;

}